<!doctype html>

<html>
  <head>
    <title>KoHack 2025 - SAR High School</title>

    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="module" src="script.js"></script>
  </head>
  <body>
    <!-- Div for the marker info box. The innerHTML will be populated on click of a given marker -->
    <div id="markerInfo">
      <div id="markerInfoSubsection">
      
      </div>
    </div>

    <div id="map"></div>

    <!-- Sources the api_shim used to store secret credentials and interface with the Google Maps API -->
    <script src="api_shim.js"></script>
  </body>
</html>

