/* Set the style for the marker info boxes*/
#markerInfo {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
    border-radius: 20px;
    visibility: hidden;
}

/* Set the style for the marker info tabs (story, recipies, contact) */
.markerInfoTab {
    background-color: grey; 
    padding: 10px; 
    flex: 1; 
    height: 20%; 
    text-align: center;
    border-radius: 10px;
    margin: 0 10px;
}

/* Set the style for the map */
#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}